*{
    margin: 0;
    padding: 0;
}

.calci__container{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 256px;
    text-align: center;
    border: 10px solid black;
    background: black;
    border-radius: 5px;
}

.calci__input{
    margin: 0 auto ;
}

.calci__input input{
  height: 75px;
  width: 256px;
  background-color: black;
  border: 0px;
  color: white;
  text-align: right;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}

.calci__btns{
    display: grid;
    /* gap: 10px; */
    /* padding: 10px; */
    /* grid-column: 1 / span 2;
    grid-row: 1; */
    grid-template-columns: auto auto auto auto;
    
}

button{
    width: 55px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 500;
    /* padding: 15px; */
}

.calci__btn{
    background-color: skyblue;
}
.calci__btn_eql{
    grid-column: 3/5;
    width: 120px;
    background-color: skyblue;
}


